* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.degree-icon {
  font-size: 13px;
  vertical-align: text-top;
  position: absolute;
}

.sidebar {
  position: fixed;
  left: 20px;
  top: 20px;
  background-color: #202b3b;
  width: 100px;
  padding: 20px 0;
  height: calc(100vh - 40px);
  border-radius: 20px;

  &__logo {
    @media (prefers-reduced-motion: no-preference) {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  &__menu {
    margin-top: 35px;
  }

  &__menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9d9b9b;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px 20px;

    &.active {
      background-color: #111b28;
      color: #ffffff;
    }

    &:hover {
      background-color: #111b28;
    }

    &-icon {
      font-size: 30px;
    }
  }
}

.weather-card {
  padding: 20px;
  border-radius: 20px;

  &__vertical {
    background-color: #202b3b;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
